<h1>Data Science Tools and Ecosystem</h1>

<h2>In this notebook, Data Science Tools and Ecosystem are summarized.<h2>

<h3>
<ol>
<li>Python</li>
<li>R</li>
<li>JAVA</li>
</ol>
    </h3>

<h3>
<li>matplotlib</li>
<li>scikit-learn</li>
<li>keras</li>
    </h3>

<h3>
<table>
    <tr>
        <th>
            Data Science Tools
        </th>
    </tr>
    <tr>
        <td>
            Rstudio
        </td>
    </tr>
      <tr>
        <td>
            Tensorflow
        </td>
    </tr>
      <tr>
        <td>
            Apache Spark
        </td>
    </tr>
</table>
</h3>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [12]:
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

<b>
    Objectives:
    <li>
        List popular languages for Data Science
        </li>
    <li>
        List popular tools for Data Science
        </li>
    <li>
        List popular libraries for Data Science
        </li>
    </b>

<h2>Author</h2>
sweety pareek